:root {
    --background-color: #1E1E2D;
    --font-color: #e7e7e7;
    /* OS */
    --taskbar-size: 50px;
    /* THEME */
    --theme-color: #006421;
    --theme-border-color: #498f5a;
    --theme-radius: 8px;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    height: calc(100dvh - 50px);
}

.viewport {
    background-color: var(--background-color);
    flex: 1;
}

.theme-style {
    border-radius: var(--theme-radius);
    border: solid 1px var(--theme-border-color);
    background-color: var(--theme-color);
}

.hidden {
    opacity: 0;
    pointer-events: none;
    transform: translateY(20px) scale(.99);
    transform-origin: bottom center;
}

/* WINDOWS */

.snap-preview {
    position: absolute;
    background-color: rgba(0, 0, 255, 0.2);
    z-index: 1;
    pointer-events: none;
    display: block;
}

/* CUSTOM SCROLLBAR */

::-webkit-scrollbar {
    width: 8px;
    margin-left: 20px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: darkgrey;
}