.taskbar {
    --taskbar-size: 40px;
    --taskbar-padding: 5px;
    height: var(--taskbar-size);
    padding: var(--taskbar-padding);
    display: flex;
    background-color: var(--theme-color);

    button {
        margin: 0;
        padding: 0;
        width: var(--taskbar-size);
        height: var(--taskbar-size);

        border: none;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0);
        transition: background-color .3s;

        &:has(img) img {
            width: calc(var(--taskbar-size) - var(--taskbar-padding) * 2);
            height: calc(var(--taskbar-size) - var(--taskbar-padding) * 2);
            padding: var(--taskbar-padding);
        }

        &:hover {
            background-color: rgba(255, 255, 255, .1);
        }
    }

    .menu-button {
        margin-right: 10px;

        img {
            width: calc(var(--taskbar-size) - var(--taskbar-padding));
            height: calc(var(--taskbar-size) - var(--taskbar-padding));
            padding: calc(var(--taskbar-padding) / 2);
        }
    }

    .menu {
        --margin: 10px;
        position: fixed;
        width: 200px;
        height: 300px;
        bottom: calc(var(--taskbar-size) + var(--taskbar-padding) * 2 + var(--margin) - 2px);
        left: var(--margin);
        padding: 10px;

        transition: .3s;
    }

    .icons-folder {
        display: flex;
        justify-content: center;
        gap: 10px;
    }
}