.window {
    --top-pos: 0;
    --left-pos: 0;

    top: var(--top-pos);
    left: var(--left-pos);
    position: absolute;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    
    background-color: #FFFFFF;


    .title-bar {
        height: 30px;
        background: var(--theme-color);
        color: var(--font-color);
        display: flex;
        padding-left: 10px;
        align-items: center;
        justify-content: space-between;
        user-select: none;

        .title {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 6px;

            img {
                width: 20px;
                height: 20px;
            }
    
            p {
                font-size: 16px;
            }
        }

        .buttons {
            display: flex;
        }
        
        .button {
            height: 30px;
            min-width: 50px;
            background-color: transparent;
        
            align-content: center;
            text-align: center;
            transition: background-color .3s;
            cursor: pointer;
        
            &:hover {
                background-color: red;
            }
        }

        .minimize-button {
            &:hover {
                background-color: rgba(255, 255, 255, 0.1);
            }
        }        
    }

    .window-content {
        flex: 1;
        overflow: auto;
    }
}