.window {
    --margin: 10px;
    margin: var(--margin);
    width: calc(100% - var(--margin) * 2);
    height: calc(100% - var(--margin) * 2);
    overflow: hidden;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;

    .title-bar {
        height: 30px;
        background: var(--theme-color);
        color: var(--font-color);
        display: flex;
        padding-left: 10px;
        align-items: center;
        justify-content: space-between;

        .title {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 6px;

            img {
                width: 20px;
                height: 20px;
            }
    
            p {
                font-size: 16px;
            }
        }

        .buttons {
            display: flex;
            gap: 8px;
        }
        
        .button {
            height: 30px;
            min-width: 50px;
            background-color: transparent;
        
            align-content: center;
            text-align: center;
            transition: background-color .3s;
            cursor: pointer;
        
            &:hover {
                background-color: red;
            }
        }
    }

    .window-content {
        flex: 1;
        padding: 20px;
        background-color: #FAFAFA;
        overflow: auto;
    }
}