.window-content-teams {
    --background-color: #1f1f1f;
    --secondary-background-color: #1a1a1a;
    --selected-color: #242424;
    --border-color: #313131;
    display: flex;
    height: 100%;
    background: var(--background-color);
    color: #fff;

    .sidebar {
        width: 30%;
        background: var(--secondary-background-color);
        border-right: solid 1px var(--border-color);
        display: flex;
        flex-direction: column;
        padding: 5px;
    
        .profile {
            display: flex;
            align-items: center;
            gap: 5px;

            padding: 5px;
            background: transparent;
            border-radius: 5px;
            cursor: pointer;

            &:hover {
                background: var(--selected-color);
                box-shadow: 0 0 0 1px var(--border-color);
            }

            img {
                width: 30px;
                height: 30px;
                border-radius: 50%;
            }
        }

        .active {
            background: var(--selected-color);
            box-shadow: 0 0 0 1px var(--border-color);
        }
    }
    
    .chat {
        flex: 1;
        display: flex;
        flex-direction: column;
    
        .messages {
            flex: 1;
            padding: 1rem;
            overflow-y: auto;
            display: flex;
            flex-direction: column;
            gap: 20px;
        
            .message {
                background: var(--selected-color);
                padding: 10px;
                border-radius: 5px;
                max-width: 70%;
                position: relative;
                font-size: 14px;

                span {
                    font-size: 10px;
                    position: absolute;
                    top: -12px;
                    left: 2px;
                    color: gray;
                }
            }
        }
        
        .input-bar {
            display: flex;
            padding: 20px;
        
            input {
                flex: 1;
                padding: 10px;
                box-shadow: 0 0 0 1px var(--border-color);
                background-color: var(--selected-color);
                border-radius: 5px 0 0 5px;
                color: #fff;
                outline: none;
                border: none;
            }
        
            button {
                margin: 0;
                padding: 10px;
                color: #fff;
                background-color: var(--selected-color);
                box-shadow: 0 0 0 1px var(--border-color);
                border: none;
                border-radius: 0 5px 5px 0;
                cursor: pointer;

                &:hover {
                    background-color: var(--border-color);
                }
            }
        }
    }
}